<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reservas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Formulario para crear una nueva reserva -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Nueva Reserva</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Sala</ion-label>
        <ion-select [(ngModel)]="nuevaReserva.sala" placeholder="Seleccione una sala">
          <ion-select-option value="biblioteca">Biblioteca</ion-select-option>
          <ion-select-option value="gimnasio">Gimnasio</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha</ion-label>
        <ion-input type="date" [(ngModel)]="nuevaReserva.fecha"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="crearReserva()">Hacer Reserva</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
