<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Penalización</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="crearPenalizacion()">
    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime  presentation="date" displayFormat="YYYY-MM-DD" [(ngModel)]="fecha" [min]="minFecha" name="fecha" required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción de la Penalización</ion-label>
      <ion-textarea [(ngModel)]="descripcion" placeholder="Escribe la descripción..." name="descripcion"></ion-textarea>
    </ion-item>

    <ion-button expand="full" color="primary" type="submit">
      Confirmar Penalización
    </ion-button>
  </form>
</ion-content>
