<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Administrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Administrar</ion-title>
    </ion-toolbar>

    <ion-item>
      <ion-label position="floating">ID del Usuario</ion-label>
      <ion-input type="number" [(ngModel)]="userId" placeholder="Ingrese el ID"></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" (click)="buscarUsuario(userId)">
      Buscar Usuario
    </ion-button>
    
    <ion-card *ngIf="nombreUsuario">
      <ion-card-header>
        <ion-card-title>Usuario Encontrado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Nombre: {{ nombreUsuario }}</p>
      </ion-card-content>
    </ion-card>
  
    <ng-template #noUsuarios>
      <p>No hay usuarios disponibles.</p>
    </ng-template>

    <ion-list *ngIf="penalizaciones.length > 0; else noPenalizaciones">    
      <ion-item *ngFor="let penalizacion of penalizaciones">        
        <ion-label>            
          <h2>Pen. Nro: #{{ penalizacion.IdPenalizacion }}</h2>            
          <p>Fecha: {{ penalizacion.fecha | date:'yyyy-MM-dd' }}</p>            
          <p>Estado: {{ penalizacion.descripcion }}</p>        
        </ion-label>        
        <ion-button slot="end" color="danger" (click)="eliminarPenalizacion()">            
          <ion-icon name="trash"></ion-icon>        
        </ion-button>  
      </ion-item>  
    </ion-list>

    <ng-template #noPenalizaciones>
      <p>El usuario no tiene penalizaciones.</p>
    </ng-template>
  </ion-header>
</ion-content>
