<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" color="primary" routerLink="/reservas">Reserva</ion-button>

  <ion-title class="ion-margin-top">Tus Reservas</ion-title>

  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-card-title>Reserva sala estudio 01</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Hora de Reserva:</strong> 10:00 AM</p>
      <p><strong>Reservado por:</strong> Juan Pérez</p>
      <ion-button expand="full" color="danger">Cancelar Reserva</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
