
<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="full" color="primary" routerLink="/reservas">Reserva</ion-button>

  <ion-title class="ion-margin-top">Tus Reservas</ion-title>

  <ion-list *ngIf="reservas.length > 0; else noReservas">    
    <ion-item *ngFor="let reserva of reservas">        
      <ion-label>            
        <h2>Reserva Nro: {{ reserva.Id_reserva }}</h2>            
        <p>Fecha: {{ reserva.Fecha_reserva | date:'yyyy-MM-dd' }}</p>            
        <p>Estado: {{ reserva.estado_reserva }}</p>        
      </ion-label>        
      <ion-button slot="end" color="success">
        <ion-icon name="checkmark-circle" color="light"></ion-icon>
      </ion-button>
      <ion-button slot="end" color="danger" (click)="cancelarReserva(reserva.Id_reserva)">            
        <ion-icon name="trash"></ion-icon>        
      </ion-button>    
    </ion-item>  
  </ion-list>


  <ng-template #noReservas>
    <p>No hay reservas pendientes.</p>
  </ng-template>

</ion-content>



