<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="ion-margin-top">Tus Reservas</ion-title>

  <!-- Contenedor para el escáner de códigos de barras -->
  <div class="barcode-scanner-modal" style="display: none;">
    <h2>Escanea el código de barras</h2>
    <!-- Aquí puedes agregar otros elementos relacionados con el escáner -->
  </div>

  <!-- Lista de reservas -->
  <ion-list *ngIf="reservas.length > 0; else noReservas">
    <ion-item *ngFor="let reserva of reservas">
      <ion-label>
        <h2>Reserva Nro: {{ reserva.id }}</h2>
        <p>Fecha: {{ reserva.fecha | date:'yyyy-MM-dd' }}</p>
        <p>Estado: {{ reserva.estado === 1 ? 'Activa' : reserva.estado === 3 ? 'Cancelada' : 'Desconocido' }}</p>
      </ion-label>

      <ion-button slot="end" color="success" (click)="scan(reserva.id)">
        <ion-icon name="checkmark-circle" color="light"></ion-icon>
      </ion-button>

      <ion-button slot="end" color="danger" (click)="cancelarReserva(reserva.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noReservas>
    <p>No hay reservas pendientes.</p>
    <ion-button (click)="obtenerReservas()">Recargar</ion-button>
    <ion-button (click)="eliminarTodo()">
      <ion-label>Eliminar Todas las Reservas</ion-label>
    </ion-button>
  </ng-template>
</ion-content>
