// Esconde todos los elementos
body.barcode-scanner-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
  }
  
  // Muestra solo el modal del escáner de códigos de barras
  .barcode-scanner-modal {
    visibility: visible;
  }
  
  @media (prefers-color-scheme: dark) {
    .barcode-scanner-modal {
      --background: transparent;
      --ion-background-color: transparent;
    }
  }

ion-button{
  background-color: #FFB803;
}

ion-toolbar{
  color: white;
  background-color: black;
}